.issue {
    background-color: rgb(253, 253, 253);
    color: rgb(94, 91, 91);
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px darkgray;
    min-height: 5vh;
    text-align: left;
}

#issue-header {
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    border: solid 1px gray;
    color: black;
    margin-top: 3vh;
    margin-bottom: 3%;
}

div#header-title, a#title {
    width: 50%;
}

.issue-header {
    display: flex;
    align-content: flex-start;
    padding-top: 1%;
    width: 15%;
}

.issues-container:nth-child(2n) {
    background-color: rgb(224, 224, 224);
    width: 100%;
}

.issue-info {
    width: 15%;
}

div.issue-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

