body {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

div#user-info-column {
    min-height: auto;
    width: 15vw;
    border-right: grey solid 1px;
    margin-right: 3vw;
    margin-bottom: 5vh;
}

h1 {
   justify-self: center;
   font-size: 25px;
}

h2 {
    font-size: 15px;
    padding: 1vw;
    background-color: rgb(78, 157, 184);
}

#issue-report {
    padding: 4vw;
}

.issue-details {
    color: rgb(124, 120, 120);
    padding-top: 4vw;
}

label {
    text-decoration: underline;
}

textarea {
    height: 20vh;
}
.comment-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    /* position: relative; */
    border: lightblue solid 1px;
}

.message-row {
    display: flex;
    flex-direction: row;
    /* position: relative; */
}
.comment-user {
    width: 15vw;
    /* padding: 2vw; */
    text-align: left;
    font-weight: bold;
}

.comment-content {
    width: 50vw; 
}

.time {
    color: rgb(184, 184, 184);
    font-size: 12px;
    border-bottom: rgb(124, 120, 120) dotted 1px ;
}

button {
    margin-top: 3vw;
}

span.fr-emoticon.fr-deletable.fr-emoticon-img{
    background-repeat-y: no-repeat!important;
    background-size: cover !important;
}

.fr-emoticon-img {
    size: 20px !important;
}

i#delete {
    color: gray;
    left: 95%;
    font-size: large;
}

i#delete:hover {
    color: indianred;
}



