#commentArea>h2 {
    background: rgb(216, 44, 79);
    padding: 5px;
}
.comment-user {
    color:gray;
    font-size: 13px;;
}
.time{
font-size: 10px;
color: gray
}

.message-row {
    border: gray 1px solid;
    padding: 10px;
    margin-top: 10px;
}

#commentForm {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

