body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    background-color: black;
}


#noSignalVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(6px);
  }

  h1 {
    z-index: 9;
      position: fixed;
      font-size: 100px;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-align: center;
      bottom: 23vh;
  }

  h3{
      z-index: 9;
      position: fixed;
      font-size: 50px;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-align: center;
      top: 40vh;
  }

  .userVideoBox {
    position: absolute;
    width: 200px;
    right: 52%;
    top: 3vh;
    z-index: 6;
}

.userVideoBox video {
  width: 500px;
  height: auto;
  border-radius: 20px;
  z-index: 9;
  filter: blur(4px);
  /* animation: text-clip 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both; */
  opacity: 0.2;
  display: none;

}

.appNameVideo {
  position: absolute;
  z-index: 7;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 170px;
  opacity: 0.7;
  top: 12vh;
  left: 5%;
  letter-spacing: -2px;
  text-align: center;
  
}


  .cont {
    overflow: hidden;
    position: relative;
    width: 950px;
    height: 800px;
    border-radius: 20px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20%;
    right: 20%;
    top: 10vh;
    bottom: 10vh;
    backdrop-filter: blur(10px);
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@media screen and (max-width: 991px) {


    .cont {
        width: 375px;
        height: 500px;
        left: 5%;
    right: 5%;
    }

    .userVideoBox video {
      width: 250px;
      height: auto;
      position: absolute;
      top: 5vh;
      left: 43%;
    }

    .appNameVideo {
      position: absolute;
      z-index: 7;
      font-size: 90px;
      top: 10vh;
      left: 45%;
      letter-spacing: -2px;
    }

    h1 {
        font-size: 50px;
        top: 35vh;
    }

    h3 {
        font-size: 22px;
        top: 25vh;
    }

}

@keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }