body {
    background-color: #fbfbea;
}

form#projectForm {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    padding: 5vh 10vh 5vh 10vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: solid 5px rgb(255, 255, 255);
}; 


