.card {
    border: 4px solid rgb(78, 123, 219);
    margin: 20px;
}

label {
    background-color: rgb(78, 157, 184); 
    border:none;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

div.projectText {
    margin-bottom: 10px;
}

