body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    background-color: black;
}

body:hover {
    background: white;
    transition: 1s;
}

#noSignalVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(3px);
  }

  h1 {
    z-index: 9;
      position: fixed;
      font-size: 100px;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-align: center;
      bottom: 11vh;
  }

  h3{
      z-index: 9;
      position: fixed;
      font-size: 50px;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-align: center;
      top: 5vh;
  }

  .cont {
    overflow: hidden;
    position: relative;
    width: 950px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20%;
    right: 20%;
    top: 10vh;
    bottom: 10vh;
    backdrop-filter: blur(30px);
    animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@media screen and (max-width: 991px) {


    .cont {
        width: 375px;
        height: 500px;
        left: 5%;
    right: 5%;
    }

    h1 {
        font-size: 50px;
        top: 22vh;
    }

    h3 {
        font-size: 30px;
        top: 5vh;
    }

}

@keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }