body {
    overflow-y: hidden; 
  }
  
  /* heading part */
  .heading {
   background-color: #66120c;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   height: 10vh;
   padding-left: 15px;
  }
  
  .headingBottom {
      background-color:#500700;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 1vh;
      top: 1vh;
      padding-left: 15px
  }
  
  .title {
    color: white;
    font-weight: bolder;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .form-control:focus {
      border-color: #cccccc;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  
  .userType {
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 5px;
  }
  
  .roleChosenWord {
    font-size: 18px;
  }
  
  .roleChosenWordForm {
    padding-left: 12px;
  }
  
  #roleChosen {
  
    -webkit-box-shadow: none;
    border-color: #cccccc;
    box-shadow: none!important;
    outline: 0;
  }
  
  #password {
    margin-top: 10px;
  }
  
  #reconfirmPassword {
    margin-top: 10px;
  }
  
  .enterPassword {
    margin-top: 20px;
  }
  
  .emailForm {
    margin-top: 30px;
  }
  
  .roleDescription {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .btn-light.active {
    -webkit-box-shadow: none;
    border-color: #cccccc;
    box-shadow: none!important;
    outline: 0;
  }
  
  .dropdown {
    width: 500PX;
  }
  
  .developerButton {
    margin-left: 0px;
  }
  
  .roleDescriptionDetails {
    font-size: 12px;
  
  }
  
  /* create account animate */
  .createAccount {
      position: absolute;
      font-weight: bolder;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      top: 13vh;
      border-radius: 20px;
      left: 1%;
      z-index: 2;
      background-color: white;
      box-shadow: 0 0 20px #20180e;
      width: 27%;
      opacity: 0.9;
      z-index: 4;
      padding-left: 30px;
      margin: 0;
      backdrop-filter: blur(10px);
      opacity: 0.8;
  }
  
  .createAccount:hover {
    opacity: 1;
    transition: 0.25s;
    box-shadow: 0 0 50px #20180e;
  }
  
  .create {
      animation: outer-left 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
      z-index: 4;
    }
  
  .account {
    animation: outer-left 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    z-index: 4;
    margin-left: 50px;
  }
  
  .create-inner {
    display: inline-block;
    animation: inner-left 1s 0.2s ease both,
    text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
    
  .account-inner {
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  
  
  /* login effect */
  
  .loginDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    height: 87vh;
    z-index: 3;
  }
  
  .test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 100;
  }
  
  .loginBox {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: #5f1813;
    transition: 0.5s;
    z-index: 50;
  }
  
  .loginBox.active {
   background-color: #9c5752;
  }
  
  .box input[type='radio']{
    display: none;
  }
  
  .container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
  }
  
  .blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  }
  
  .blueBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .blueBg .box h2 {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  
  .blueBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none; 
  }
  
  .formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
  }
  
  .formBx.active {
    Left: 53%;
  }
  
  .formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10%;
    transition: 0.5s;
  }
  
  .formBx .signinForm {
    transition-delay: 0.25s ;
  }
  
  .formBx.active .signinForm {
    left: -100%;
    transition-delay: 0s ;
  }
  
  .formBx .signupForm {
    left: 100%;
    transition-delay: 0s ;
  }
  
  .formBx.active .signupForm {
    left: 0;
    transition-delay: 0.25s ;
  }
  
  .formBx.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .formBx .form form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  
  .formBx .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
  }
  
  .userTypes {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
  
  }
  
  .submit {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    margin-top: 40px;
    width: 82px;
  }
  
  /* photo */
  
  
  .photoArea {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 640px;
    height: 87vh;
    z-index: 3000;
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/public/images/google1.jpg");
  }
  
  .mobileIndex {
    display: none;
  }
  
  .two.active {
    background-image: url("/public/images/google2.jpg");
  }

  .googleImg {
    margin-top: 50px;
    width: 150px;
    height: fix;
    margin-left: 150px;
  }
  
  /* animate */
  
    @keyframes text-clip {
      from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      }
      to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    
    @keyframes outer-left {
      from {
        transform: translateX(50%);
      }
      to {
        transform: none;
      }
    }
    
    @keyframes inner-left {
      from {
        transform: translateX(-50%);
      }
      to {
        transform: none;
      }
    }
  
    @keyframes right {
      from {
        transform: translateX(-700%);
      }
      to {
        transform: none;
      }
    }
  
  /* mobile */
  
  @media screen and (max-width: 1000px) {
    
      .title {
          display: none;
      }
  
      .heading {
        display: none;
      }
      .createAccount {
        display: none;
      }
  .loginDetails {
    top: 0;
  }
  
  .headingBottom{
    display: none;
  }
  
    .container {
      max-width: 400px;
      height: 650px;
      justify-content: center;
      align-items: center;
      right: 3%;
      left: 3%;
  }
  
  .container .blueBg{
    top: 0;
    height: 100%;
    
  }
  
  .formBx {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
    left: 3%;
  }
  
  .blueBg .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }
  
  .box.signin {
    top: 0;
  }
  
  .formBx.active {
    left: 3%;
    top: 150px;
  }
  
  .photo {
    display: none;
  }
  
  .mobileIndex {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #A78A68;
    z-index: 5000;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 7vh;
    left: 3%;
  }
  
  .mobileIndex .mobileIndexWord {
    color: #ffffff;
  }
  
  .submit {
    border: 1px solid #2c241b;
    border-radius: 5px;
    margin: 0;
    width: 82px;
    margin-top: 50px;
  }
  
  }
  
  @media screen and (max-width: 1000px) {
    .container {
      max-width: 400px;
      height: 650px;
      justify-content: center;
      align-items: center;
      right: 3%;
      left: -2.5%;
  }
  
  .mobileIndex {
    left: 4.5%;
    font-size: 30px;
    top: 1vh;
  }
  }
  
  
  @media screen and (min-height: 1000px){
  
    .appNameVideo {
      top: 13vh;
    }
  }
  
  @media screen and (max-width: 1300px) {
   .photo {
    display: none;
   }
  .title {
    top: 2vh;
  }
  
  }
  
  @media screen and (min-width: 2000px) {
    .photo {
     width: 50%;
    }
  
    .backArea {
      width: 50%;
    }
  
    .photoArea{
      width: 50%;
    }
  
    .loginDetails {
      height: 88vh;
    }
  
    .photoArea {
      height: 87.7vh;
    }
  
    .container {
      height: 800px;
      width: 1200px;
    }
  
    .box {
      height: 800px;
    }
  
    .box.signin {
      height: 800px;
    }
  
    .box.signup {
      height: 800px;
    }
  
    .googleImg {
      margin-top: 200px;
      margin-left: 190px;
      height: auto;
      width: 300px;
    }
   }