

body {
    background-color: #87B5D7;
}


/* top */

.rightBar {
    height: 100px;
    width: 200px;
    top: 0;
    right: 0;
    background-color: #24293F;
    z-index: 5;
}

.mobileUserLogin {
    display: none;
}

.backArea {
    position: absolute;
    bottom: 0;
    right: 14%;
    width: 450px;
    height: 100vh;
    z-index: 6;
    transition: 0.5s;
    cursor: none;
}

.photoArea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 860px;
    height: 92vh;
    z-index: 3;
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
}

.one.active {
 background-image: url("/public/images/name.jpg");
 box-shadow: 0 0 80px rgb(0, 19, 36);
}
.two.active {
    background-image: url("/public/images/login.jpg");
    box-shadow: 0 0 80px rgb(0, 19, 36);
}
.three.active {
    background-image: url("/public/images/register.jpg");
    box-shadow: 0 0 80px rgb(0, 19, 36);
}
.four.active {
    background-image: url("/public/images/about.png");
    box-shadow: 0 0 80px rgb(0, 19, 36);
}
.five.active {
    background-image: url("/public/images/phone.jpg");
    box-shadow: 0 0 80px rgb(0, 19, 36);
}
.six.active {
    background-image: url("/public/images/address.jpg");
    box-shadow: 0 0 80px rgb(0, 19, 36);
}

.itemBar {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 7vh;
    animation-name: item;
    animation-duration: 2s;
    width: 40%;
    z-index: 5;
    cursor: none;
    transition: 0.5s;
}

#socketBox {
    display: block;
    position: fixed;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white; 
    z-index: 100;
    margin-right: 10px;
}

/* #socketBox.active {
   display: none;
} */

/* 
#socketBoxButton {
    width: 200px;
    height: 200px;
    background-color: #0A1356;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: white; 
    z-index: 200;
}

#socketBoxButton.active {
    display: none;
 }

#socketBoxButton:hover {
    background-color: #97a3ff;
    border: 2px #0A1356 solid;
} */


.about:before {
    font-size: 40px;
    white-space:pre-wrap;
    word-wrap:break-word;
    letter-spacing: 0px;
    right: 10%;
    top: -25%;
    width: 500px;
}

.about:hover:before {
    letter-spacing: 0px;
    width: 500px;
}

.netfix:hover:before {
    letter-spacing: 0px;
    font-size: 90px;
}

.address:before {
    font-size: 30px;
    top: -25%;
    width: 500px
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
    width: 200px;


}
ul li a {
    width: 200px;

    border-radius: 10px;
}

ul li:before {
    content: attr(data-text);
    position: absolute;
    top: -30%;
    left: -30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;

}

ul li:hover:before {
    opacity: 1;


    letter-spacing: -8px;
}

ul li a {
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration:  none;
    background-color: #24293F;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition:  0.5s;
    z-index: 5;
    cursor: pointer;
}

ul li a:hover {
opacity: 0;
}

ul li a:hover {
 transform: scale(1.4);
 z-index: 1000;
 background: #0A1356;

}

ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8)), transparent;
    transform: skewX(35deg);
    transform: 0s;
   }

   ul li a:hover:before {
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
   }

.appName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: bolder;
    position: absolute;
    right: 10%;
    top: 10vh;
    z-index: 4;
}

.logoImg {
    background-image: url('./images/logoImg.jpg');
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(your-image.jpg);
  z-index: 2;
}

.mobileRegister {
    display: none;
}

.goDown {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    right: 11%;
    bottom: 5vh;
    animation-name: contentMoveDown;
    animation-duration: 1s;
    background-color: #24293F;
    padding: 10px;
    z-index: 4;
}

.goDown:hover {
    background-color: #243f30;
}

.top {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    animation: ;
}

.register {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    padding-right: 10px;
    width: auto;
    font-weight: bolder;
    position: absolute;
    right: 0%;
    padding: 10px;
    bottom: 5vh;
    background-color: #24293F;
    z-index: 4;
    animation-name: contentMoveDown;
    animation-duration: 1s;
    cursor: pointer;
}

.register:hover {
    background-color: rgb(102, 0, 0);
}

.topSlogan {
    font-family: Arial, Helvetica, sans-serif;
    color: #24293F;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    right: 2%;
    top: 42vh;
}

.top img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 850px;
    height: auto;
    font-size: 100%;
    z-index: 2;
    animation-name: contentMoveLeft;
    animation-duration: 3s;
}


  .topTop {
    background-color: #24293F;
    width: 100%;
    height: 8vh;
    position: absolute;
    top: 0;
    z-index: 3;
}

.topGround {
    background-color: #24293F;
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.user {
    background-color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: -8px;
    font-size: 96px;
    font-weight: bolder;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    cursor: none;
    white-space: nowrap;
    z-index: 4;
}

/* User session */

.user {
position: relative;
background-image: url(/public/images/userback.jpg);
background-size: contain;
background-repeat: round;
opacity: 0.9;
}

#generalUser {
    color: #0F121C;
    z-index: 4;
}

.generalUserLogin {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80%;
    height: 45vh;
    font-size: 35px;
    text-align: justify;
    border-style: solid;
    border: #24293F;
    border:5px;
    border-radius: 10px;
    padding: 50px;
    padding-top: 30px;
    cursor: pointer;
    z-index: 8;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    color: #24293F;
}


.loginByGoogle {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

.userVideoBox {
    position: absolute;
    width: 200px;
    right: 52%;
    top: 3vh;
    z-index: 6;
}

.userVideoBox video {
    width: 500px;
    height: auto;
    border-radius: 20px;
    z-index: 5;
    filter: blur(4px);
}
.appNameVideo {
    position: absolute;
    z-index: 7;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 170px;
    opacity: 0.8;
    top: 12vh;
    left: 5%;
    letter-spacing: -2px;
}

.alert-container {
    margin-top: 10px;
    font-size: 20px;
}

.loginRelatedButton {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.loginButton {
    background-color: #ffffff;
    color:white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    width: 60%;
    font-size: 20px;
    margin-top: 15px;
    border: 2px solid #24293F;
}

.loginButton button {
    width: 95%;
    background-color: white;
}
.loginButton button:hover {
    color: #2400f3;
    background-color: white
}

.loginByGoogle {
    background-color: #ffffff;
    color:white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    width: 60%;
    font-size: 20px;
    margin-top: 15px;
    background-color: white
    
}

.loginByGoogle:hover{
    color: black;
    text-decoration: none;
    color: inherit;
}

label {
    margin: 5px;
}

.google {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.mobileAppName {
    display: none;
}

.mobileVideo {
    display: none;
}

/* login css */

.loginArea {
    position: absolute;
    bottom: 5vh;
    left: 5%;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 970px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgb(0, 0, 0);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 22%;
    backdrop-filter: blur(10px);
}
.cont:hover {
    background-color: #ffffff;
    transition: 1s;
    box-shadow: 0 0 80px rgb(0, 0, 0);
}

  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
  }
  .alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
  }
  .alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
  }
  .alert .close-btn:hover{
    background: #ffc766;
  }
  .alert .close-btn .fas{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
  }

/* animation */

@keyframes dissappear{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
  }

@keyframes contentMoveLeft
{   0% { transform: translateX(-50px)}
    100% {transform: translateX(0px);}
    }

@keyframes contentMoveRight {
    0% { transform: translateX(10px)}
    50% { transform: translateX(-5px)}
    100%{transform: translateX(0px);}
    }

@keyframes contentMoveDown {
    0% { transform: translateY(500px)}
    100%{transform: translateY(0px);}
    }

@keyframes item {
    0% { transform: translateX(500px)}
    100%{transform: translateX(0px);}
    }

@keyframes logo {
    0% { transform: translateY(500px)}
    100%{transform: translateY(0px);}
    }


    /* mobile version */
@media screen and (max-width: 991px) {
    section {
    display: none;
    }
    img {
    display: none;
    }
    .goDown{
    display: none;
    }
    
    #socketBox {
        display: none;
    }

.mobileAppName {
    display: block;
    color: white;
    z-index: 4;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size:110px;
    text-align: center;
    padding-top: 21vh;
}

.alert-container2 {
    font-size: 11px;
}
    .mobileVideo {
        display: block;
        position: absolute;
        top: 12vh;
        width: 80%;
        height: auto;
        right: 10%;
        left: 10%;
        opacity: 0.5;
    }

    .topSlogan{
        display: none;
    }

    .itemBar {
        display: none;
    }

    .mobileRegister {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        display: block;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 10%;
        text-align: center;
        color: white;
        z-index: 100;
        text-align: end;
        background-color: #24293F;
        border-radius: 10px;
    }

    .appName {
        font-size: 60px;
        display: block;
        position: absolute;
        top: 12vh;
        left: 10%;
        right: 10%;
        text-align: center;
    }

    .top {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .mobileUserLogin {
        display: block;
        position: absolute;
        top: 37vh;
        left: 10%;
        right: 10%;
        z-index: 6;
        font-weight: bolder;
    }

 

    .mobileUserLogin .loginNow {
  font-size: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  opacity: 0.6;
  margin-top: 24vh;
  letter-spacing: -15px;
  width: 100%;
    }


    .mobileLoginRelatedButton {
       font-size: 17px;
       font-weight: bolder;
       padding: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: nowrap;
       width: 300px;

    }


    .mobileLoginRelatedButton.loginButton{
        border: 2px solid #454d66;
    }

    .mobileLoginRelatedButton{
    
        border: 2px solid #454d66;
    }

    .register {
        position: absolute;
        font-size: 30px;
        display: block;
        top: 25vh;
        right: 10%;
    }

    h1 {
        display: none;
    }
  }

  @media screen and (min-height: 980px)  {

    .top img {
        height: auto;
        width: 60%;
    }
    .photoArea {
        width: 60%;
    }
    .itemBar {
        bottom: 10vh;
    }
    .cont {
        bottom: 10vh;
        width: 1500px;
        height: 800px;
        left: 10%;
    }
    .appNameVideo {
        top: 5vh;
    }
    .generalUserLogin {
  
        left: 0px;
    }
    .loginRelatedButton {
        margin-top: 70px;
    }

    .user {
        background-repeat: inherit;
        background-size: cover;
    }

    .loginButton {
        width: 350px;
    }
    .loginByGoogle {
        width: 350px;
    }

    label {
        margin: 20px;
    }
  }

  @media screen and (min-width: 1650px) {

    .cont {
        bottom: 10vh;
        width: 1500px;
        height: 500px;
        left: 10%;
    }
  }

  @media screen and (min-width: 2300px) {

    .cont {
        bottom: 10vh;
        width: 2000px;
        height: 800px;
        left: 10%;
    }
    .loginButton {
        width: 1000px;
    }
    .loginByGoogle {
        width: 1000px;
    }
    
    .generalUserLogin {
        width: 2000px;
    }
    
  }